<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="icon" href="../static/images/Logo-Favicon.png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<link rel="stylesheet"  type="text/css" href="../static/css/forms.css">
</head>
<body>
<form method = "POST" action="">
    {{ form.hidden_tag() }}
	<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row"></div> <a href="{{ url_for('index') }}"><img src="../static/images/SITAR.png" class="logo"> </a>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="../static/images/Register_Pic.png" class="Register_image"> </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <div class="row px-3">
                        {{ form.first_name.label(class="mb-1 mb-0 text-sm") }}
                        {{ form.first_name(class="mb-4") }}
                        <!--<label class="mb-1">
                            <h6 class="mb-0 text-sm">Email Address</h6>
                        </label> <input class="mb-4" type="text" name="email" placeholder="Enter a valid email address">--> </div>
                    <div class="row px-3">
                        {{ form.last_name.label(class="mb-1 mb-0 text-sm") }}
                        {{ form.last_name(class="mb-4")}}
                        <!--<label class="mb-1">
                            <h6 class="mb-0 text-sm">Password</h6>
                        </label> <input type="password" name="password" placeholder="Enter password">-->
                    </div>
                    <div class="row px-3">
                        {{ form.birthday.label(class="mb-1 mb-0 text-sm") }}
                        {{ form.birthday(class="mb-4")}}
                    </div>
                    <div class="row px-3">
                        {{ form.email.label(class="mb-1 mb-0 text-sm") }}
                        {{ form.email(class="mb-4")}}
                    </div>
                    <div class="row px-3">
                        {{ form.password.label(class="mb-1 mb-0 text-sm") }}
                        {{ form.password(class="mb-4")}}
                    </div>
                    <div class="row px-3">
                        {{ form.password_confirm.label(class="mb-1 mb-0 text-sm") }}
                        {{ form.password_confirm(class="mb-4")}}
                    </div>
<!--                    <div class="row px-3 mb-4">-->
<!--                        -->
<!--&lt;!&ndash;                        <div class="custom-control custom-checkbox custom-control-inline"> <input id="chk1" type="checkbox" name="chk" class="custom-control-input"> <label for="chk1" class="custom-control-label text-sm">Remember me</label> </div> <a href="#" class="ml-auto mb-0 text-sm">Forgot Password?</a>&ndash;&gt;-->
<!--                    </div>-->
                    <div class="row mb-3 px-3">
                        {{ form.submit(class="btn btn-blue text-center") }}
<!--                        <button type="submit" class="btn btn-blue text-center">Login</button> -->
                    </div>
                    <div class="row mb-4 px-3"> <small class="font-weight-bold">Have an account? <a class="text-danger " href="{{ url_for('Login') }}">Login</a></small> </div>

                </div>
            </div>
        </div>
        <div class="bg-blue py-4">
<!--            <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2019. All rights reserved.</small>-->
                <div class="social-contact ml-4 ml-sm-auto"> <span class="fa fa-facebook mr-4 text-sm"></span> <span class="fa fa-google-plus mr-4 text-sm"></span> <span class="fa fa-linkedin mr-4 text-sm"></span> <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span> </div>
            </div>
        </div>
    </div>
</div>
</form>
</body>
</html>